/* css comuni */
body {
    min-width: 300px;
    letter-spacing: 0;
}
.container {
    /* background-color: green; */
    min-height: 50px;
}
.row {
    margin-bottom: 0px;
    /* min-height: 50px; */
}
h2 {
    font-size: 35px;
    text-transform: uppercase;
}
h3 {
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 700;

}
.radius-10 {
    border-radius: 10px;
}
.button {
    margin: 0 auto;
    padding-top: 30px;
}


/* css dedicato all'header */
header {
    color: white;
}

#header_top,
.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    text-transform: uppercase;
    background-color: #2C3E50;
    color: white;
}
#header_top {
    position: fixed;
    width: 100%;
    border: 0;
    border-radius: 0;
    z-index: 2;
}
#start {
    padding-top: 50px;
}
#start .row {
    border-radius: 0;
}

.navbar-default .navbar-brand {
    font-size: 1.5em;
}
#header-top [class*="col-"] {
    line-height: 80px;
}
.jumbotron {
    background-color: #1ABC9C;
    padding-bottom: 40px;
}
.jumbotron h1 {
    font-size: 40px;
    font-weight: 700;
}
#img-jumbotron img{
    height: 200px;
}
.star-line {
    font-size: 20px;
    color: white;
    line-height: 20px;
}
.star-line hr {
    display: inline-block;
    width: 10%;
    border: 1px solid white;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 20px;
    vertical-align: middle;
}
.star-star {
    margin: 0 10px 0 10px;
}
.jumbo-description {
    padding-top: 10px;
    text-transform: uppercase;
}

/* css dedicato al main */
#portfolio {
    text-align: center; 
    line-height: 100px;
}
#portfolio .title {
    margin-top: 30px;
    margin-bottom: 10px;
}
#portfolio h2,
#contact h2 {
    font-weight: 600;
    padding-bottom: 10px;
}
#portfolio .star-line,
#portfolio .star-star,
#contact .star-line,
#contact .star-star {
    color: black;
}

#portfolio hr,
#contact hr {
    width: 20%;
    border: 1px solid black;
}
#portfolio img {
    width: 100%;
}
[class*="main-img-"] {
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.main-img-1 {
    background-color: #BA4B63;
}
.main-img-2 {
    background-color: #1EA4B6;
}
.main-img-3 {
    background-color: #140F0F;
}
.main-img-4 {
    background-color: #1C83C1;
}
.main-img-5 {
    background-color: #0E38B5;
}
.main-img-6 {
    background-color: #CCB2A3;
}
#about {
    background-color: #1ABC9C;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about> .row {
    margin-bottom: 35px;
}
#about .title {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    line-height: 50px;
}
#about p {
    padding-top: 5px;
}
#about h2 {
    padding-top: 20px;
}
#about> .row div:last-child {
    margin-bottom: 5px;
    text-align: center;
}
#about .button a {
    color: white;
    padding: 15px 20px;
    border: 1px solid white;
    border-radius: 10px; 
    text-decoration: none;
    transition: background-color 0.5s, color 0.5s;
}
#about .button i {
    padding-right: 2px;
}
#about .button a:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}


#contact .title{
    text-align: center;
    line-height: 50px;
}
#contact input {
    padding: 20px;
    border: none;
    border-bottom: 1px solid #E9ECEF;
}

#button-1 a {
    color: white;
    padding: 15px 20px;
    border: 1px solid white;
    text-decoration: none;
    background-color: #1ABC9C;
    border-radius: 5px; 
    transition: filter 0.5s;
}
#button-1 {
    display: inline-block;
    padding-top: 80px;
    margin-bottom: 20px;
}
#button-1 a:hover {
    filter: brightness(85%);
    transition: filter 0.5s;
}

/* css dedicato al footer  */
footer {
    margin-top: 10px;
    color: white;
    text-align: center;
}
footer [class*="col-"] {
    position: relative;
}

footer ul {
    list-style: none;
    min-width: 220px;
    margin: 0;
    padding: 0;
}
footer li {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 2%;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50%;
    overflow: hidden;
}
footer a i {
    color: white;
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.footer li a {
    padding: 15px;
}
.footer-icon a:hover {
    background-color: white;
    color: black;
    transition: background-color 0.5s, color 0.5s;
}
footer span {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.freelancer {
    color: #1ABC9C;

}
#footer-center {
    background-color: #3A546D;
    text-align: center;
}
#footer-center div .row {
margin-bottom: 20px;
}
#footer-bottom {
    background-color: #2C3E50;
}
.copyright {
    padding: 20px;
}

/* css per xs
@media all and (max-width: 767px) {
    .footer-icon {
        min-width: 400px;
    }
    
} */

/* css per sm
@media all and (min-width: 768px) and (max-width: 991px) {
    
}

css per md
@media all and (min-width: 992px) and (max-width: 1200px) {
   
} 

@media screen and (min-width: 768px) */
